<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <h1>Hello from index</h1>
        <% @articles.each do |art| %>
          <h3> <%= link_to art.title, article_path(art) %> </h3>
          <p> <%=  art.content %> </p>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <p> <%= link_to "New Article", new_article_path %> </p>
    </div>
  </div>
</div>

